@charset "UTF-8";

@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  font-family: "SoDo Sans SemiBold",Helvetica ,Helvetica,Arial,sans-serif;
}

header {
  width: 100%;
  padding: 20px 130px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.329);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
}

.block {
  width: 50px;
  margin-right: 10px;
}

ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100%;
}

a:hover {
  color: #00754a;
}

li {
  list-style: none;
  margin: 0px 15px;
  font-size: 16px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: black;
}

.right-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-a-store a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.find-a-store a svg {
  margin-right: 5px;
}

.buttons {
  margin: 0px 30px;
  display: flex;
}

.buttons button {
  margin: 0px 10px;
  padding: 7px 15px;
  background: transparent;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.mobile-btn {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  display: none;
}

.btn-bar {
  width: 90%;
  height: 3px;
  background-color: black;
}

.product-box {
  width: 100%;
  max-width: 1400px;
  margin: 30px auto;
  display: flex;
  background-color: #d4e9e2;
}

.box2 {
  background-color: #02633f;
}

.image-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 100%;
  margin: 0px;
}

.text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  color: #013f28;
  width: 50%;
}

.text-box h1 {
  margin: 30px;
  font-size: 25px;
}

.text-box p {
  font-size: 18px;
  max-width: 500px;
  text-align: center;
  line-height: 2em;
}

.btn {
  width: 100px;
  height: 35px;
  background-color: transparent;
  font-size: 17px;
  border-radius: 40px;
  cursor: pointer;
  border: 1px solid black;
  margin: 25px 0;
  transition: all 0.2s;
  color: #013f28;
  font-weight: bold;
}

.btn1:hover {
  background-color: rgba(0, 0, 0, 0.048);
}

.box2 h1 {
  font-size: 50px;
  color: white;
  max-width: 500px;
}

.box2 p {
  font-size: 23px;
  color: white;
}

.btn2 {
    color: white;
    border-color: white;
    width: 120px;
}

footer {
  width: 100%;
  box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.37);
  padding-top: 30px;
}

.footer-content {
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  border-bottom: 2px solid rgb(216, 215, 215);
  overflow-x: scroll;
}

.footer-content div {
  margin-right: 25px;
  width: 100%;
  max-width: 200px;
}

.footer-content h3 {
  color: rgb(54, 54, 54);
}

.footer-content a {
  display: block;
  margin: 35px 0;
  color: gray;
}

.footer-content a:hover {
  color: rgb(73, 72, 72);
}

.socials, .terms, .rights {
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 30px;
}

.socials a svg {
  margin-right: 15px;
}

.terms a {
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
}

.terms .bar::after {
  content: " ";
  position: absolute;
  top: 0;
  right: -10px;
  height: 18px;
  width: 1px;
  background-color: rgb(112, 112, 112);
}

.terms a:hover {
  color: black;
  text-decoration: underline;
}

.rights p {
  color: gray;
  padding-bottom: 20px;
}

.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.336);
  background-color: white;
  transform: translateX(100%);
  padding-top: 110px;
  transition: all 0.3s;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgba(209, 209, 209, 0.808);
  margin: 0 auto;
  width: 95%;
}

.nav-mobile li {
  margin: 20px 0;
}

@media screen and (max-width: 1080px) {
  header {
    padding: 20px 80px;
  }
  
  .navbar ul, .right-items {
    display: none;
  }

  .mobile-btn {
    display: flex;
  }

  .terms a {
    display: block;
    margin: 10px 0;
    width: 430px;
  }

  .socials, .rights {
    margin-left: 5px;
  }

  .show {
    transform: translateX(0);
    transition:  0.3s;
  }
}

@media screen and (max-width: 700px) {
  .product-box {
    flex-direction: column;
  }

  .text-box, .image-box {
    width: 100%;
  }
}